estrutura-de-dados/.vscode/c_cpp_properties.json
estrutura-de-dados/pilhas/bubble_sort/bubble_sort_example.exe
estrutura-de-dados/.vscode/launch.json
estrutura-de-dados/selection_sort/selection_sort_example.exe
estrutura-de-dados/bubble_sort/bubble_sort_example.exe
estrutura-de-dados/insertion_sort/insertion_sort_example.exe
estrutura-de-dados/.vscode/settings.json
estrutura-de-dados/filas/fila_example.exe
estrutura-de-dados/listas/lista_encadeada.exe
estrutura-de-dados/pilhas/pilha_example.exe
